body{
  background-color: #f4f4f4;
}
.App {
  text-align: center;
  margin: auto;
  width: 70vw;
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
}
.credentials{
  display: flex;
  flex-direction: column;
  padding: 1em 3em 3em 3em;
}
.credentials input, label, button{
  margin: 1em;
}
.credentials input,button{
  padding: 1vw;
}
.credentials button{
  background-color: rgb(226, 255, 224);
  border-radius: 30px;
  border: 1px solid;
  text-shadow: rebeccapurple;
  border-collapse: collapse;
}
h1{
  padding: 20px 1em 0 1em;
}
@media (min-width: 1000px){
   .App{
     width: 40vw;
   }
   .credentials input,button{
    padding: 1em;
  }
}
.displayContainer{
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card{
  margin-bottom: 10px;
  background-color: lightcyan;
}